.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .writeNewPost {

        align-items: center;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        width: 100%;
        height: 173px;

        .row {
            display: flex;
            height: 98px;
            align-items: center;
            margin-bottom: 5px;

            .avatar {
                margin: 0 0 0 16px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .edit {
                flex: 1;
                position: relative;
                padding: 10px;

                textarea {

                    margin: 20px 0px 0px 0px;
                    width: 100%;
                    padding: 10px;
                    border: none;
                    border-radius: 8px;
                    resize: none;
                    outline: none;
                    cursor: pointer;
                }

                .iconPencil {
                    position: absolute;
                    top: 36px;
                    left: 152px;
                    font-size: 22px;
                    color: #666666;
                    stroke-width: 1;
                }
            }



        }

        .buttons {

            display: flex;
            background-color: rgba(210, 240, 255, 0.41);
            border-radius: 16px 0px 16px 16px;

            ul {

                list-style: none;
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 24px;
                margin: 22px 25px;

                li {
                    display: flex;
                    align-items: center;

                    .menuIcon {
                        width: 22px;
                        height: 24px;
                        stroke: #666;
                        margin-right: 10px;
                    }

                    span {
                        font-size: 16px;
                        color: #666;
                    }

                    i {
                        font-size: 24px;
                        color: #666;
                    }
                }
            }

            .iconSend {
                margin-left: 25px;
                width: 20%;
                height: 70px;
                background-color: rgba(161, 225, 255, 0.49);
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom-right-radius: 16px;

                .icon {
                    width: 24px;
                    height: 24px;
                    stroke-width: 0.1;
                }
            }
        }
    }

    .news {
        margin-top: 19px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        /* Khoảng cách giữa các tin tức */

        .new {
            padding: 18px 32px 8px 18px;
            border-radius: 18px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            background-color: #ffffff;

            .row1 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .user {
                    display: flex;
                    align-items: center;

                    img {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }

                    .text {
                        .name {
                            margin: 0;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .job {
                            font-size: 14px;
                            font-weight: bold;
                            color: rgba(0, 0, 0, 0.46);
                        }
                    }
                }

                .menu {
                    .icon {
                        font-size: 20px;
                        margin-right: -7px;
                    }
                }
            }

            .row2 {
                margin-top: 15px;

                .content p {

                    margin: 0;
                    font-size: 14px;
                    font-weight: 500;
                }

                .imgOrVideo {
                    margin-top: 13px;

                    img {
                        border-radius: 18px;
                        width: 100%;
                        max-height: 400px;
                        object-fit: cover;
                        margin-top: 10px;
                    }
                }
            }

            .row3 {
                margin-top: 10px;

                .interact {
                    display: flex;
                    justify-content: space-between;

                    .reaction {
                        display: flex;
                        justify-content: center;

                        .likeIcon {
                            font-size: 17px;
                        }

                        span {
                            margin-left: 5px;
                            color: #656565;
                        }
                    }

                    .commentAndShare {
                        display: flex;
                        gap: 15px;

                        p {
                            color: #656565;
                        }

                        p:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }

                .icons {
                    margin-top: 7px;
                    border-top: 1px solid #dcdcdc;
                    border-bottom: 1px solid #dcdcdc;

                    ul {
                        margin: 7px 0;
                        list-style: none;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-align: center;

                        li {

                            .menuIcon {
                                stroke-width: 0.1;
                            }

                            span {
                                color: #656565;
                            }

                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .writeComment {
                    margin-top: 7px;
                    background-color: #F6F6F6;
                    height: 42px;
                    border-radius: 18px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 9px;
                }

                img {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                }

                input {
                    flex: 1;
                    height: 26px;
                    border: none;
                    outline: none;
                    background-color: #F6F6F6;
                }

                .microIcon,
                .photoIcon {
                    margin-left: auto;
                    height: 20px;
                    width: 20px;
                    margin: 0;
                    padding: 0;
                }

            }

        }




    }

}