.formLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 90px;


    .rowSignUp {

        display: flex;



        .col2 {
            // margin-top: 60px;
            padding: 60px;
            width: 90%;
            position: relative;

            .title {
                // text-align: left;
                font-size: 39px;
                font-weight: 800;
                margin-bottom: 35px;
            }

            .form {
                .formGroup {
                    .inputWithIcon {
                        margin-top: 25px;
                        position: relative;

                        .iconLeft {
                            i {
                                position: absolute;
                                top: 50%;
                                left: 10px;
                                transform: translateY(-50%);
                                padding-bottom: 10px;
                            }
                        }



                        input {
                            width: 100%;
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 1px solid black;
                            outline: none;
                            background: none;
                            color: black;
                            padding-left: 30px;
                            padding-bottom: 10px;

                        }

                        input::placeholder {
                            font-size: 14px;
                            /* Điều chỉnh font size theo mong muốn */
                        }

                        .iconRightCorrect {
                            i {
                                position: absolute;
                                top: 50%;
                                right: 60px;
                                transform: translateY(-50%);
                                padding-bottom: 10px;
                                color: #007c00;
                            }
                        }

                        .iconRightWrong {
                            i {
                                position: absolute;
                                top: 50%;
                                right: 0px;
                                transform: translateY(-50%);
                                padding-bottom: 10px;
                                color: red;
                            }
                        }

                        .iconRightPassword {
                            i {
                                position: absolute;
                                top: 50%;
                                right: 0px;
                                transform: translateY(-50%);
                                padding-bottom: 10px;
                            }
                        }


                    }

                    .errorMessage {
                        color: red;
                    }
                }

                .formGroupCBX {
                    margin-top: 30px;

                    label {
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }

                .formGroupBtn {
                    margin-top: 40px;

                    button {
                        padding: 16px 38px;
                        border-radius: 5px;
                        color: white;
                        background: #6dabe4;
                        border: none;
                        font-weight: 400;
                        font-size: 15px;
                        cursor: pointer;

                        /* Hiệu ứng hover */
                        transition: background 0.2s ease-in-out;
                    }

                    /* Hiệu ứng hover */
                    button:hover {
                        background: #5c92c8;
                    }
                }
            }


        }


    }
}

.btnExit {
    border: none;
    background: none;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}