.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: white;
    border-radius: 8px;
    width: 95%;
    max-width: 650px;
    min-width: 200px;
    padding: 20px 10px;
    animation: dropTop .3s linear;

    .header {
        // border-bottom: 1px solid lightgray;
        padding-bottom: 20px;

        .title {
            p {
                text-align: center;
                font-weight: 500;
                font-size: 20px;
            }
        }

        .closeBtn {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;

            .icon {
                width: 25px;
                height: 25px;
            }
        }
    }

    .body {
        p {
            font-size: 14px;
        }

        .textForm {
            position: relative;
            margin-top: 10px;

            label {
                position: absolute;
                z-index: 10;
                top: 7px;
                left: 10px;
                font-size: 15px;
                color: #656565;
            }

            .textInput {
                box-sizing: border-box;
                width: 100%;
                padding: 25px 10px 10px 10px !important;
                font-size: 16px;
                resize: none;
                outline: none;
                overflow-y: auto;
            }
        }
    }

    .footer {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        button {
            width: 49%;
            height: 40px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-weight: 500;
        }
    }
}


@keyframes dropTop {
    0% {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}