.messageDetail {
  display: flex;
  position: relative;
  // overflow: hidden;
  // overflow-y: hidden;

  .chatContent {
    flex: 1;
    background-color: #f8f8f8;
    position: relative;

    .row1 {
      user-select: none;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      width: 100%;

      .userInfor {
        height: 45px;
        display: flex;
        align-items: center;

        .avatar {
          width: 45px;
          height: 45px;
          position: relative;
          margin-right: 10px;


          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            background-color: #ffffff;
            border: 1px solid #efefef;
          }

          .icon {
            position: absolute;
            bottom: 0px;
            right: 0px;
            color: #22c55e;
          }
        }

        .dflexColumn {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .username {
            font-weight: 500;
            // max-width: 90% !important;
            // min-width: 20vw !important;
            // text-overflow: ellipsis;
            // overflow: hidden;
            // white-space: nowrap;
          }

          .activeTime {
            font-weight: 400;
            font-size: 14px;
            color: #525252;
          }
        }
      }

      .menuOption {
        user-select: none;

        ul {
          display: flex;
          list-style: none;
          gap: 10px;

          li {
            cursor: pointer;

            .icon {
              font-size: 24px;
              color: #525252;
            }
          }
        }
      }
    }


    .chatHistory {
      position: relative;
      height: calc(100vh - 162px);

      .chatHistoryUl {
        max-height: calc(100vh - 232px);
        padding: 10px 20px 30px 20px;
        width: 100%;
        position: absolute;
        bottom: 68px;
        list-style: none;
        overflow-y: auto;

        display: flex;
        flex-direction: column-reverse;

        gap: 5px;
        transition: all 2.3s ease-in-out;

        //   background-color: #a2bcc9;
        li {
          max-width: 100% !important;

          .changeSth {
            text-align: center;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              max-width: 80%;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            img {
              margin-left: 10px;
              width: 25px;
              height: 25px;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .otherUser,
          .thisUser {
            max-width: 60%;
            border-radius: 18px;
            position: relative;
            display: flex;

            .text {
              max-width: 100%;
              padding: 10px 18px;
              background-color: #ffffff;
              word-wrap: break-word;
              border-radius: 5px;
            }

            .sticker {
              width: 96px;
              height: 96px;
              object-fit: cover;
            }

            .emoji {
              height: 40px;
              width: 40px;
              display: flex;
              align-items: center;

              img {
                width: 25px;
                height: 25px;
                object-fit: cover;
              }
            }

            .chatImg {
              max-width: 300px;
              max-height: 300px;
              object-fit: cover;
            }
          }

          .otherUser {
            display: flex;
            align-items: end;

            .name {
              font-size: 13px;
            }

            .avatarChat {
              min-width: 40px;
              max-width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 10px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }

            .iconMessageMenu {
              flex: 1;
              display: none;
              align-items: center;
              margin-left: 5px;
              margin-bottom: 12px;

              button {
                display: flex;
                align-items: center;
                border: none;
                padding: 0px 4px;
                cursor: pointer;
                background: none;
                border-radius: 10px;

                .icon {
                  font-size: 20px;
                  border-radius: 10px;
                }
              }

              button:hover {
                background-color: #ffffff;
              }
            }


            .chatDetails {
              display: none;
              align-items: center;
              justify-content: end;
              margin-left: 10px;
              margin-bottom: 12px;

              .time {
                font-size: 13px;
              }

              .icon {
                font-size: 13px;
              }
            }

          }

          .thisUser {
            margin-left: auto;
            width: auto !important;
            display: flex;
            flex-direction: row-reverse;

            .avatarChat {
              display: none;
            }

            .iconMessageMenu {
              flex: 1;
              display: none;
              align-items: center;
              justify-content: end;
              margin-right: 10px;

              button {
                display: flex;
                align-items: center;
                border: none;
                padding: 0px 4px;
                cursor: pointer;
                background: none;
                border-radius: 10px;

                .icon {
                  font-size: 20px;
                  border-radius: 10px;
                }
              }

              button:hover {
                background-color: #ffffff;
              }
            }

            .text {
              background-color: #0389c9;
              color: #ffffff;
              margin-left: auto;
            }

            .chatDetails {
              display: none;
              align-items: center;
              justify-content: end;
              margin-right: 10px;

              .time {
                font-size: 13px;
                white-space: nowrap;
              }

              .icon {
                font-size: 13px;
              }
            }
          }

          .peopleViewed {
            display: flex;
            justify-content: flex-end;
            gap: 5px;
            list-style: none;
            margin-left: auto;
            margin-top: 10px;

            li {
              position: relative;
              display: inline-block;

              .avatarPeopleViewed {
                width: 15px;
                height: 15px;
                cursor: pointer;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .peopleViewedDetail {
                position: absolute;
                bottom: 20px;
                right: 0px;
                display: none;
                align-items: end;
                width: 50vw;

                span {
                  margin-left: auto;
                  background-color: #333;
                  border-radius: 5px;
                  color: #ffffff;
                  width: auto;
                  padding: 5px 10px;
                }
              }


            }

            li:hover {
              .peopleViewedDetail {
                display: flex;
              }
            }
          }


        }

        li:hover {
          .iconMessageMenu {
            display: flex;
          }

          .chatDetails {
            display: flex;
          }
        }
      }
    }

    .messageBox {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: 68px;
      display: flex;
      padding: 12px;
      align-items: center;
      background-color: #ffffff;
      box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);


      .messageBoxCol1 {
        display: flex;
        align-items: center;
        gap: 5px;

        form {
          label {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }


        .imgIcon {
          width: 25px;
          height: 25px;
          object-fit: cover;
          cursor: pointer;
        }

        .sticker {
          display: flex;
          align-items: center;
          position: relative;

          .imgIcon {
            width: 25px;
            height: 25px;
            object-fit: cover;
            cursor: pointer;
          }



          .stickerIconMenu {
            position: absolute;
            bottom: 80px;
            transform: translateX(-50%);
            left: 50%;
            background-color: #ffffff;
            // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 350px;
            height: 400px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            display: none;



            .stickerIconMenuHeader {
              border-bottom: 1px solid #dcdcdc;

              ul {
                display: flex;
                align-items: center;
                list-style: none;

                li {
                  padding: 10px 20px;
                  cursor: pointer;

                  p {
                    font-size: 18px;
                    color: #7c7c7c;
                    font-weight: 500;
                  }
                }

                li:hover {
                  p {
                    color: #0176ad;
                  }
                }
              }
            }

            .stickerMenuBody {
              display: flex;
              flex-wrap: wrap;
              overflow-y: scroll;
              height: 350px;
              border-radius: 10px;

              img {
                width: 96px;
                height: 96px;
                object-fit: cover;
                cursor: pointer;
              }
            }

            .stickerMenuFooter {
              background-color: #ffffff;
              border-top: 1px solid #dcdcdc;
              border: 1px solid rgba(0, 0, 0, 0.2);
              border-radius: 0px 0px 10px 10px;
              display: flex;

              ul {
                flex: 1;
                display: flex;
                align-items: center;
                list-style: none;

                li {
                  width: 41px;
                  height: 41px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                .next,
                .prev {
                  width: 25px;
                  height: 41px;

                  .icon {
                    color: #7c7c7c;
                  }
                }

                .next {
                  margin-left: auto;
                  border-right: 1px solid #efefef;
                  box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.05);
                }

                .prev {
                  border-right: 1px solid #efefef;
                }
              }

              .addSticker {
                width: 41px;
                height: 41px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .icon {
                  color: #7c7c7c;
                }

                .icon:hover {
                  color: #0176ad;
                }
              }
            }
          }
        }
      }

      .messageBoxCol2 {
        flex: 1;
        margin: 0px 20px;
        background-color: #e0f3fe;
        border-radius: 25px;
        display: flex;
        align-items: center;

        input {
          flex: 1;
          padding: 10px 16px;
          width: 100%;
          outline: none;
          border: none;
          background-color: #e0f3fe;
          border-radius: 25px;

        }

        .icon {
          margin-right: 20px;
          font-size: 22px;
          color: #0389c9;
          cursor: pointer;
        }
      }

      .messageBoxCol3 {
        display: flex;
        align-items: center;

        .icon {
          font-size: 25px;
        }

        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  .chatInfor {
    width: 400px;
    background-color: #ffffff;
    border-left: 1px solid #e3edf2;
    position: relative;
    animation: dropleft .3s linear;

    .exit {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;

      .icon {
        font-size: 30px;
      }
    }

    .otherUserInfor {
      padding: 80px 0px 40px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 12px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid #efefef;
        }
      }

      .name {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        word-wrap: break-word;
        max-width: 90%;
        text-align: center;
      }

      button {
        margin-top: 20px;
        // background-color: #0389c9;
        background-image: linear-gradient(to bottom, #56e8e7, #779ff2);
        padding: 7px 14px;
        border: none;
        border-radius: 18px;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
      }

      button:hover {
        background-color: #0176ad;
      }
    }

    ul {
      padding: 12px;
      list-style: none;


      li {
        cursor: pointer;
        padding: 12px;
        user-select: none;

        .customizeChat {
          animation: dropTop .3s linear;
          display: none;
        }

        .dflex {
          display: flex;
          align-items: center;
          gap: 24px;

          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
          }

          .icon {
            font-size: 24px;
          }
        }
      }

      li:hover {
        background-color: #efefef;
      }

      .dropDownMenu:hover {
        background-color: transparent;


      }
    }
  }
}

@keyframes dropTop {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dropleft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  .messageDetail {
    .chatInfor {
      width: 350px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .messageDetail {
    .chatInfor {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .messageDetail {
    .chatInfor {
      display: none;
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: 100%;
    }
  }
}

.disable {
  p {
    color: #dcdcdc;
  }
}