.menuIcon,
.searchIcon,
.microIcon,
.photoIcon {
    width: 24px;
    stroke-width: 1.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;


}

.link {
    text-decoration: none;
}

.container {
    // width: 1440px;
    width: 100%; // tạm thời thay thế width 1440px
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #F6F6F6;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    .group {
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 140px;

        .logo {
            width: 278px;
            cursor: pointer;

            p {
                font-size: 36px;
                color: #00ACFF;
                font-weight: bold;
            }
        }

        .menu {
            width: 570px;


            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-around;
                list-style: none;

                li {
                    cursor: pointer;
                    padding: 5px 25px;
                    border-radius: 10px;

                    .menuIcon {
                        width: 28px;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }

                li:hover {
                    background-color: #efefef;
                }

                .notificationMenu {
                    position: relative;
                    padding: 0;

                    .buttonMenu {
                        padding: 5px 25px;

                        .menuIcon {
                            width: 28px;
                            color: rgba(0, 0, 0, 0.6);
                        }
                    }


                    .dropdown {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        display: none;
                        position: absolute;
                        transform: translateX(-50%);
                        left: 50%;
                        top: 55px;
                        width: 380px;

                        border-radius: 18px;
                        background-color: #ffffff;

                        .dropdownHeader {

                            border-radius: 18px 18px 0px 0px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 20px;

                            .col1 {
                                .title {
                                    font-weight: 700;
                                    font-size: 20px;
                                }
                            }

                            .col2 {
                                .icon {
                                    font-size: 25px;
                                }
                            }

                        }

                        .dropdownBody {
                            padding-bottom: 45px;
                            height: 400px;
                            overflow: auto;
                          

                            .item {
                                display: flex;
                                padding: 10px 5px;
                                margin-bottom: 5px;

                                .avatar {
                                    width: 45px;
                                    height: 45px;
                                    background-color: #efefef;
                                    border-radius: 50%;
                                    margin: 10px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }
                                }

                                .content {
                                    flex: 1;

                                    .infor {
                                        display: flex;
                                        flex-direction: column;

                                        .text {
                                            font-size: 14px;

                                            span {
                                                font-size: 16px;
                                                margin-right: 7px;
                                                font-weight: 600;
                                            }
                                        }

                                        .time {
                                            margin-top: 5px;
                                            font-size: 13px;
                                        }
                                    }

                                    .button {
                                        margin-top: 10px;
                                        display: flex;
                                        gap: 10px;

                                        button {
                                            padding: 7px 15px;
                                            border-radius: 7px;
                                            border: none;
                                            font-size: 14px;
                                            font-weight: 500;
                                        }

                                        .acceptButton {
                                            background-color: #0866ff;
                                            color: #ffffff;
                                        }

                                        .deleteButton {
                                            background-color: #dcdcdc;
                                        }
                                    }
                                }
                            }

                            .item:hover {
                                background-color: #efefef;
                            }
                        }

                        .dropdownFooter {
                            background-color: #ffffff;

                            p {
                                color: #0866ff;
                                font-size: 15px;
                                font-weight: 500;
                            }

                            border-top: 1px solid #efefef;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            position: absolute;
                            bottom: 0px;
                            border-radius: 0px 0px 18px 18px;
                        }
                    }

                    .dropdown::before {
                        content: "";
                        position: absolute;
                        top: -0.7rem;
                        // right: 1.1rem;
                        transform: translateX(-50%);
                        left: 48%;
                        width: 20px;
                        height: 20px;
                        transform: rotate(45deg);
                        background-color: #ffffff;
                        border-left: 1px solid #efefef;
                        border-top: 1px solid #efefef;
                    }
                }

            }
        }

        .search {
            width: 278px;
            height: 45px;
            border-left: 1px solid rgba(0, 0, 0, 0.28);

            .input {
                margin-left: 10px;
                display: flex;
                align-items: center;
                background-color: rgba(0, 172, 255, 0.46);
                border-radius: 18px;
                height: 44px;
                width: 267.19px;
            }

            .input input {
                flex: 1;
                /* Phần input chiếm phần còn lại của không gian */
                border: none;
                outline: none;
                padding-left: 15px;
                height: 44px;
                background-color: #F6F6F6;
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;

                color: rgba(0, 0, 0, 0.53);
            }

            .input .searchIcon {
                color: white;
                width: 20px;
                margin: 20px;
                cursor: pointer;
            }

        }
    }
}

.body {
    padding-top: 114px;

}

.notification {
    position: fixed;
    left: 25px;
    bottom: 25px;
    display: none;
    opacity: 0;

    transition: all 1s ease;
    /* Sử dụng transition cho opacity */

    .item {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        padding: 20px;
        margin-bottom: 5px;


        .avatar {
            width: 45px;
            height: 45px;
            background-color: #efefef;
            border-radius: 50%;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        .content {
            flex: 1;

            .infor {
                display: flex;
                flex-direction: column;

                .text {
                    font-size: 14px;

                    span {
                        font-size: 16px;
                        margin-right: 7px;
                        font-weight: 600;
                    }
                }

                .time {
                    margin-top: 5px;
                    font-size: 13px;
                    font-weight: 500;
                    color: #0781be;
                }
            }

            .button {
                margin-top: 10px;
                display: flex;
                gap: 10px;

                button {
                    padding: 7px 15px;
                    border-radius: 7px;
                    border: none;
                    font-size: 14px;
                    font-weight: 500;
                }

                .acceptButton {
                    background-color: #0866ff;
                    color: #ffffff;
                }

                .deleteButton {
                    background-color: #dcdcdc;
                }
            }
        }
    }
}