.newMessage {
  width: 100%;
  position: relative;
  height: calc(100vh - 76px);
  .header {
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    .receivers {
      font-size: 20px;
      line-height: 40px;
      span {
        display: inline;
        background-color: #88ccff;
        color: #ffffff;
        font-size: 16px;
        padding: 7px 35px 7px 10px;
        margin: 0px 10px;
        border-radius: 18px;
        position: relative;
        .iconDelete {
          width: 30px;
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 0px;
          padding-right: 10px;
          cursor: pointer;
        }

        .iconDelete:hover {
          color: rgb(63, 61, 61);
        }
      }
    }

    .input {
      position: relative;
      flex: 0.7;
      input {
        height: 40px;
        padding: 5px 10px;
        outline: none;
        border: none;
        background: none;
        font-size: 18px;
      }

      .users {
        // display: none;
        position: absolute;
        top: 45px;
        left: 0px;

        background-color: #ffffff;
        border-radius: 10px;

        ul {
          list-style: none;
          width: 300px;
          height: 35vh;
          overflow-y: auto;
          padding: 15px 10px;
          margin: 10px 0px;
          li {
            .user {
              width: 100%;
              display: flex;
              align-items: center;
              padding: 10px;
              gap: 10px;
              border-radius: 10px;
              cursor: pointer;
              .avatar {
                width: 40px;
                height: 40px;
                img {
                  border-radius: 50%;
                  width: 100%;
                  height: 100%;
                }
              }
              .infor {
                .fullname {
                  font-size: 15px;
                }
                .email {
                  font-size: 13px;
                }
              }
            }

            .user:hover {
              background-color: #efefef;
            }
          }
        }
      }

      ul::-webkit-scrollbar {
        width: 4px; /* Độ rộng của thanh cuộn */
        background-color: #e3edf2;
      }
      ul::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Màu của thanh cuộn */
        border-radius: 4px; /* Độ cong của thanh cuộn */
      }
    }
  }

  .messageBox {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    // transform: translateX(-50%);
    height: 68px;
    display: flex;
    padding: 12px;
    align-items: center;
    background-color: #ffffff;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.1);
    .messageBoxCol1 {
      display: flex;
      align-items: center;
      gap: 5px;
      .icon {
        font-size: 25px;
        stroke-width: 1px;
        color: #333;
      }
    }

    .messageBoxCol2 {
      flex: 1;
      margin: 0px 20px;
      background-color: #e0f3fe;
      border-radius: 25px;
      display: flex !important;
      align-items: center;
      input {
        flex: 1;
        padding: 10px 16px;
        width: 100%;
        outline: none;
        border: none;
        background-color: #e0f3fe;
        border-radius: 25px;
      }

      .icon {
        margin-right: 20px;
        font-size: 22px;
        color: #0389c9;
      }
    }

    .messageBoxCol3 {
      display: flex;
      align-items: center;
        margin-right: 20px;
      .icon {
        font-size: 25px;
      }
    }
  }
}

.chatHistory {
  // position: relative;
  // height: calc(100vh - 162px);

  .chatHistoryUl {
    max-height: calc(100vh - 232px);
    padding: 10px 20px 30px 20px;
    width: 100%;
    position: absolute;
    bottom: 68px;
    list-style: none;
    overflow-y: auto;

    display: flex;
    flex-direction: column-reverse;

    gap: 5px;
    transition: all 2.3s ease-in-out;

    //   background-color: #a2bcc9;
    li {
      max-width: 100% !important;

      .changeSth {
        text-align: center;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          max-width: 80%;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        img {
          margin-left: 10px;
          width: 25px;
          height: 25px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .otherUser,
      .thisUser {
        max-width: 60%;
        border-radius: 18px;
        position: relative;
        display: flex;

        .text {
          max-width: 100%;
          padding: 10px 18px;
          background-color: #ffffff;
          word-wrap: break-word;
          border-radius: 5px;
        }

        .sticker {
          width: 96px;
          height: 96px;
          object-fit: cover;
        }

        .emoji {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
            object-fit: cover;
          }
        }

        .chatImg {
          max-width: 300px;
          max-height: 300px;
          object-fit: cover;
        }
      }

      .otherUser {
        display: flex;
        align-items: end;

        .name {
          font-size: 13px;
        }

        .avatarChat {
          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .iconMessageMenu {
          flex: 1;
          display: none;
          align-items: center;
          margin-left: 5px;
          margin-bottom: 12px;

          button {
            display: flex;
            align-items: center;
            border: none;
            padding: 0px 4px;
            cursor: pointer;
            background: none;
            border-radius: 10px;

            .icon {
              font-size: 20px;
              border-radius: 10px;
            }
          }

          button:hover {
            background-color: #ffffff;
          }
        }


        .chatDetails {
          display: none;
          align-items: center;
          justify-content: end;
          margin-left: 10px;
          margin-bottom: 12px;

          .time {
            font-size: 13px;
          }

          .icon {
            font-size: 13px;
          }
        }

      }

      .thisUser {
        margin-left: auto;
        width: auto !important;
        display: flex;
        flex-direction: row-reverse;

        .avatarChat {
          display: none;
        }

        .iconMessageMenu {
          flex: 1;
          display: none;
          align-items: center;
          justify-content: end;
          margin-right: 10px;

          button {
            display: flex;
            align-items: center;
            border: none;
            padding: 0px 4px;
            cursor: pointer;
            background: none;
            border-radius: 10px;

            .icon {
              font-size: 20px;
              border-radius: 10px;
            }
          }

          button:hover {
            background-color: #ffffff;
          }
        }

        .text {
          background-color: #0389c9;
          color: #ffffff;
          margin-left: auto;
        }

        .chatDetails {
          display: none;
          align-items: center;
          justify-content: end;
          margin-right: 10px;

          .time {
            font-size: 13px;
            white-space: nowrap;
          }

          .icon {
            font-size: 13px;
          }
        }
      }

      .peopleViewed {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        list-style: none;
        margin-left: auto;
        margin-top: 10px;

        li {
          position: relative;
          display: inline-block;

          .avatarPeopleViewed {
            width: 15px;
            height: 15px;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .peopleViewedDetail {
            position: absolute;
            bottom: 20px;
            right: 0px;
            display: none;
            align-items: end;
            width: 50vw;

            span {
              margin-left: auto;
              background-color: #333;
              border-radius: 5px;
              color: #ffffff;
              width: auto;
              padding: 5px 10px;
            }
          }


        }

        li:hover {
          .peopleViewedDetail {
            display: flex;
          }
        }
      }


    }

    li:hover {
      .iconMessageMenu {
        display: flex;
      }

      .chatDetails {
        display: flex;
      }
    }
  }
}
